/* line 1, ../scss/app/_styles.scss */
p {
  font-family: "Nunito", sans-serif;
  position: absolute;
  top: 210px;
  left: 500px;
  height: 100px;
  width: 22%;
  font-size: 13px;
  line-height: 1.5;
}

/* line 12, ../scss/app/_styles.scss */
.topBox {
  float: left;
  display: inline-block;
  background-color: #FFE4BE;
  height: 150px;
  width: 100%;
  text-align: center;
  line-height: 110px;
  font-family: "Nunito", sans-serif;
}

/* line 23, ../scss/app/_styles.scss */
.arrow-down {
  position: absolute;
  left: 625px;
  top: 158px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #FFE4BE;
}

/* line 34, ../scss/app/_styles.scss */
.leftBox {
  float: left;
  display: inline-block;
  background-color: #FF4825;
  height: 200px;
  width: 33%;
  text-align: center;
  line-height: 170px;
  font-family: "Nunito", sans-serif;
}

/* line 45, ../scss/app/_styles.scss */
.arrow-right {
  position: absolute;
  left: 420px;
  top: 250px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #FF4825;
}

/* line 56, ../scss/app/_styles.scss */
.rightBox {
  float: right;
  clear: right;
  display: inline-block;
  background-color: #72889C;
  height: 200px;
  width: 33%;
  text-align: center;
  line-height: 170px;
  font-family: "Nunito", sans-serif;
}

/* line 68, ../scss/app/_styles.scss */
.arrow-left {
  position: absolute;
  top: 250px;
  left: 837px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #72889C;
}

/* line 79, ../scss/app/_styles.scss */
.bottom {
  float: right;
  display: inline-block;
  position: relative;
  background-color: #A9A9A9;
  height: 150px;
  width: 100%;
  text-align: center;
  line-height: 110px;
  font-family: "Nunito", sans-serif;
}

/* line 91, ../scss/app/_styles.scss */
.arrow-up {
  width: 0;
  height: 0;
  position: absolute;
  left: 625px;
  top: 348px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #A9A9A9;
}
