/* line 2, ../scss/app/_styles.scss */
.topBox {
  float: left;
  position: relative;
  display: inline-block;
  background-color: #FFE4BE;
  height: 150px;
  width: 100%;
  text-align: center;
  line-height: 110px;
  font-family: "Nunito", sans-serif;
}
/* line 12, ../scss/app/_styles.scss */
.topBox::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid #FFE4BE;
}

/* line 23, ../scss/app/_styles.scss */
.leftBox {
  float: left;
  position: relative;
  background-color: #FF4825;
  height: 200px;
  width: 33%;
  text-align: center;
  line-height: 170px;
  font-family: "Nunito", sans-serif;
}
/* line 32, ../scss/app/_styles.scss */
.leftBox::before {
  content: '';
  position: absolute;
  margin-left: 49.5%;
  margin-top: 90px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 15px solid #FF4825;
}

/* line 45, ../scss/app/_styles.scss */
.centerBox {
  position: relative;
  float: left;
  height: 200px;
  width: 33%;
}
/* line 51, ../scss/app/_styles.scss */
.centerBox p {
  font-family: "Nunito", sans-serif;
  position: absolute;
  text-align: left;
  margin-top: 60px;
  margin-left: 60px;
  height: 100px;
  width: 70%;
  font-size: 13px;
  line-height: 1.5;
}

/* line 64, ../scss/app/_styles.scss */
.rightBox {
  float: right;
  clear: right;
  background-color: #72889C;
  height: 200px;
  width: 33%;
  text-align: center;
  line-height: 170px;
  font-family: "Nunito", sans-serif;
}
/* line 73, ../scss/app/_styles.scss */
.rightBox::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -17.5%;
  margin-top: 90px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 15px solid #72889C;
}

/* line 86, ../scss/app/_styles.scss */
.bottom {
  float: right;
  position: relative;
  background-color: #A9A9A9;
  height: 150px;
  width: 100%;
  text-align: center;
  line-height: 110px;
  font-family: "Nunito", sans-serif;
}
/* line 95, ../scss/app/_styles.scss */
.bottom::before {
  content: '';
  position: absolute;
  margin-top: -12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 15px solid #A9A9A9;
}
