p {
    font-family: $defont;
    position: absolute;
    top: 210px;
    left: 500px;
    height: 100px;
    width: 22%;
    font-size: 13px;
    line-height: 1.5;
}


.topBox {
    float: left;
    display: inline-block;
    background-color: $topBox;
    height: $defheight;
    width: 100%;
    text-align: $defalign;
    line-height: 110px;
    font-family: $defont;
}

.arrow-down {
    position: absolute;
    left: 625px;
    top: 158px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $topBox;
}

.leftBox {
    float: left;
    display: inline-block;
    background-color: $leftBox;
    height: $midheight;
    width: 33%;
    text-align: $defalign;
    line-height: 170px;
    font-family: $defont;
}

.arrow-right {
        position: absolute;
        left: 420px;
        top: 250px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid $leftBox;
}

.rightBox {
    float: right;
    clear: right;
    display: inline-block;
    background-color: $rightBox;
    height: $midheight;
    width: 33%;
    text-align: $defalign;
    line-height: 170px;
    font-family: $defont;
}

.arrow-left {
    position: absolute;
    top: 250px;
    left: 837px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid $rightBox;
}

.bottom {
    float: right;
    display: inline-block;
    position: relative;
    background-color: $bottom;
    height: $defheight;
    width: 100%;
    text-align: $defalign;
    line-height: 110px;
    font-family: $defont;
}

.arrow-up {
    width: 0;
    height: 0;
    position: absolute;
    left: 625px;
    top: 348px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $bottom;
}
