.topBox {
    float: left;
    display: inline-block;
    background-color: $topBox;
    height: $defheight;
    width: 100%;
    text-align: $defalign;
    font-family: $defont;
    .topTri {

    }
}
.leftBox {
    float: left;
    display: inline-block;
    background-color: $leftBox;
    height: $midheight;
    width: 33%;
    text-align: $defalign;
    font-family: $defont;
    .leftTri {

    }
}
.rightBox {
    float: right;
    display: inline-block;
    background-color: $rightBox;
    height: $midheight;
    width: 33%;
    text-align: $defalign;
    font-family: $defont;
    .rightTri {

    }
}

.bottomBox {
    float: right;
    display: inline-block;
    position: relative;
    background-color: $bottom;
    height: $defheight;
    width: 100%;
    text-align: $defalign;
    font-family: $defont;
    .rightTri {

    }
}

