$ngreen: #00E000;
$ngray: #6C6C6C;
$ndkgray: #333333;
$nwhite: #F3F7FD;
$defont: helvetica, arial, sans-serif;
$defborder: 1px solid #848484;
$defsize: 6px;
$defadsize: 8px;
$background: #111111;
$discountbckgrnd: #222222;
$topsize: 10px;
